From 50bccba7157cc43b0fe6584e8ada67d0002366b5 Mon Sep 17 00:00:00 2001
From: Andrew Bennett <andrew@pagodabox.com>
Date: Wed, 13 Nov 2013 16:08:21 -0700
Subject: [PATCH] pkgsrc version 0.3.0

---
 rel/relx.config |  1 +
 rel/vars.config | 22 ++++++++++++----------
 2 files changed, 13 insertions(+), 10 deletions(-)

diff --git a/rel/relx.config b/rel/relx.config
index e06f892..f88d042 100644
--- a/rel/relx.config
+++ b/rel/relx.config
@@ -12,6 +12,7 @@
 {overlay_vars, "vars.config"}.
 
 {post_overlay, [
+	{mkdir, "etc"},
 	{mkdir, "{{platform_bin_dir}}"},
 	{mkdir, "{{platform_data_dir}}"},
 	{mkdir, "{{platform_etc_dir}}"},
diff --git a/rel/vars.config b/rel/vars.config
index a02a7fe..a4f8392 100644
--- a/rel/vars.config
+++ b/rel/vars.config
@@ -2,11 +2,11 @@
 %% vim: ts=4 sw=4 ft=erlang noet
 
 %% Platform-specific installation paths
-{platform_bin_dir,  "./bin"}.
-{platform_data_dir, "./data"}.
-{platform_etc_dir,  "./etc"}.
+{platform_bin_dir,  "@PREFIX@/sbin"}.
+{platform_data_dir, "@SMOKE_DATA@"}.
+{platform_etc_dir,  "@PKG_SYSCONFDIR@"}.
 {platform_lib_dir,  "./lib"}.
-{platform_log_dir,  "./log"}.
+{platform_log_dir,  "@SMOKE_LOG@"}.
 
 %%
 %% etc/app.config
@@ -32,19 +32,19 @@
 %%
 {node,               "smoke@127.0.0.1"}.
 {distributed_cookie, "doiasdf83lNd89%3"}.
-{crash_dump,         "./log/erl_crash.dump"}.
+{crash_dump,         "@SMOKE_LOG@/erl_crash.dump"}.
 
 %%
 %% bin/smoke
 %%
-{runner_script_dir,   "$(cd ${0%/*} && pwd)"}.
-{runner_base_dir,     "${RUNNER_SCRIPT_DIR%/*}"}.
-{runner_etc_dir,      "$RUNNER_BASE_DIR/etc"}.
-{runner_log_dir,      "$RUNNER_BASE_DIR/log"}.
+{runner_script_dir,   "@PREFIX@/sbin"}.
+{runner_base_dir,     "@PREFIX@/smoke"}.
+{runner_etc_dir,      "@PKG_SYSCONFDIR@"}.
+{runner_log_dir,      "@SMOKE_LOG@"}.
 {runner_lib_dir,      "$RUNNER_BASE_DIR/lib"}.
 {runner_patch_dir,    "$RUNNER_BASE_DIR/lib/pagodabox-patches"}.
 {pipe_dir,            "/tmp/$RUNNER_BASE_DIR/"}.
-{runner_user,         ""}.
+{runner_user,         "@SMOKE_USER@"}.
 {runner_wait_process, "smoke_sup"}.
 
 %%
@@ -52,3 +52,5 @@
 %%
 {cuttlefish,         "on"}.
 {cuttlefish_conf,    "smoke.conf"}.
+
+{app_version, "@PKGVERSION_NOREV@"}.
-- 
1.8.4.3

